<body id="bg_page">
  <span class="list"><%= @character.background.physical %></span>
  <span class="list"><%= @character.background.personality %></span>
  <span class="list"><%= @character.background.history  %></span>
  <span class="list"><%= link_to 'Edit', edit_character_background_path(@character, @background) %></span>
</body>