/* Global styles */

a {
  font-size: 14px;
}

a:link {color: #fcb915; text-decoration: underline; }
a:active {color: #fcb915; text-decoration: none; }
a:visited {color: #fcb915; text-decoration: underline; }
a:hover {color: #fcb915; text-decoration: none; }

body {
background-color: #2b2b2b;
font-family: Helvetica, Verdana, sans-serif; 
font-size: 14px;
color: #ffffff;
}

h1 {
  padding: 5px;
  width: 100%;
}
   
.float_left {
  color:  #ffffff;
  font-size: 16px;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
  margin: 5px;
}

#float_right {  
  float: right;
  margin-left: .5em;
}

#error_explanation {
  border: 1px solid #555555;
  background-color: #444444;
  margin: 5px;
  padding: 5px;
}

/* Navigation styles */

body#character .character_menu a,
body#items .item_menu a,
body#skills .skill_menu a,
body#spells .spell_menu a,
body#specials .special_menu a,
body#bg_page .bg_menu a { 
  color: #fff;
  text-decoration: none; 
}

#character_menu  {
margin-right: 10px;
float: left;
}

#menu {
     background-color: #2b2b2b;
     height: 1.3em;
     border-bottom: 1px solid #555555;
     padding: 5px;
     }
     
#menu_item {
}

.menu_item {
  margin-right: 10px;
  float: left;
}
     
/* Landing page styles */


#logo {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: -25px;
}

#landing {
  height: 550px;
  width: 800px;
  padding: 15px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555555;
  background-color: #444444;
  background-image: url('../images/manticore_bg.png');
}

/* Interior page styles */

#create {
  margin-bottom: 1em;
  float: left;
  width: 100%;
}

#main {
  margin-top: 1em;
  width: 100%;
}

#new_character {
     background-color: #2b2b2b;
     border-bottom: 1px solid #555555;
     padding: 5px;
     }
     
#characters {
  height: 550px;
  width: 800px;
  padding: 15px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555555;
  background-color: #444444;
}


.list_title {
  font-weight: bold;
  width: 10em;
  float: left;
}
.list {
  float: left;
  margin-right: 1em;
}

#skill_set {
 }


.create_item {
  
}

#character_description {
  clear: left; 
}
 
.character_name {
   margin-bottom: 10px;
   width: 5em;   
   float:left;
}
 
.character_description {
  float: left;
}
 

#description {
  padding: 5px;
}
    
}

#details {
  margin: 1em;
  float: left;
  border: 1px solid #fff;
}

#hp {
  margin: 1em;
  float: left;
  
}

#ac {
margin: 1em;
float: left;
}

#stats {
  clear: left;
  margin: 1em;
}

#fortsave {
  margin: 1em;
   float: left;
}

#reflexsave {
  margin: 1em;
  float: left;
}

#willsave {
  margin: 1em;
  float: left;
}

#saves {
  clear: left;
}
#initiative {
  margin: 1em;
  float: left;}

#background {
  clear: left;
  width: 50em;
}





