<div id="logo">
<%= image_tag("logo.png") %>
</div>
<div id="landing">
<p id="description">
  Manticore is a database designed to create and store characters for Dungeons and Dragons 3.5 games.
</p>
<%= link_to "Character List", characters_path %>
</div>