<div id="hp" class="float_left">

<% if @hp.new_record? %>
  <%= link_to 'Add Hit Points', new_character_hp_path(@character) %>
<% else %>
<b>Total HP:</b>
<%= @hp.total %>
<br />
  <%= link_to 'Edit Hit Points', edit_character_hp_path(@character,@hp) %>
<% end %>
</div>