<div id="initiative" class="float_left"> 

<b>Initiative:</b>
<%= @initiative.total %>

<b>Speed:</b>
<%= @initiative.speed || 'Not set' %>
<%= link_to 'Edit', edit_character_initiative_path(@character,@initiative) %>
</div>