<div id="saves" class="float_left">

<% if @fortitude.new_record? %>
<%= link_to 'Add Fortitude Saving Throw', new_character_fortitude_path(@character) %>
<% else %>

<br />

<% if @reflex.new_record? %>
<%= link_to 'Add Reflex Saving Throw', new_character_reflex_path(@character) %>
<% else %>

<br />
<%= link_to 'Edit Reflex Saving Throw', edit_character_reflex_path(@character,@reflex) %>
<% end %>
<br />
<% if @will.new_record? %>
<%= link_to 'Add Will Saving Throw', new_character_will_path(@character) %>
<% else %>

</div>