<h1>Listing characters</h1>

<table>

<% @characters.each do |character| %>
  <tr>
    <td><%= link_to character.name, character %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %>
